
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <form id="frmLogin">
        <div class="col-lg-6 col-lg-offset-3">
            Usuario: <input type="text" name="user" />
            Password: <input type="password" name="pwd" />
            <input type="submit" value="Ingresar" class="btn-success" />
        </div>
    </form>
</div>
<script>
    $
</script>